<div class="col-xs-4 text-right">
    <a class="btn btn-primary" ng-class="{ active: isActive('/index.html')}" href="/">
        <i class="glyphicon glyphicon-send">
        </i>
    </a>
    <a class="btn btn-primary" ng-class="{ active: isActive('/cart.html')}" ui-sref="site.cart" href="/cart.html">
        <i class="glyphicon glyphicon-shopping-cart">
        </i>
    </a>
    <a class="btn btn-primary" ng-class="{ active: isActive('/user.html')}"  href="/user.html">
        <i class="glyphicon glyphicon-user">
        </i>
    </a>
    <a class="btn btn-primary" href="/login.html">
        <i class="glyphicon glyphicon-log-out">
        </i>
    </a>
</div>
<div class="col-xs-2">{{ ngCart.getTotalItems() }}
    <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
    <small>{{ ngCart.totalCost() | currency }}</small>
</div>
